    <!-- ******ABOUT****** --> 
    <section id="services" class="about section fullscreen">
        <div class="container">
            <h2 class="title text-center">¿Que hacemos?</h2>
            <hr class="custom-hr">
            <div class="row">
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-gears"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Consultoría y asesoramiento</h3>
                        <p>Un asesoramiento especializado representa una gran ventaja competitiva, optimizando sus procesos y aportando herramientas para fortalecer las estrategias de su modelo de negocio.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Proyectos y soluciones a medida</h3>
                        <p>Cada organización es única, por lo cual requiere que el desarrollo de una solución también lo sea para adaptarse a las características y necesidades de la misma.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Tercerización de IT</h3>
                        <p>Entendemos la relevancia de contar con información confiable y oportuna en un entorno de negocios cada vez más competitivo.</p>
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-chain"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Partner Tecnológicos</h3>
                        <p>Su idea de negocio nos interesa y podemos desarrollar la parte tecnológica que necesita.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
