    <!-- ******FEATURES****** --> 
    <section id="how" class="features section fullscreen">
        <div class="container text-center">
            <h2 class="title">¿Cómo lo hacemos?</h2>
            <hr class="custom-hr">
            <div class="row">
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="content description">
                        <p>Con un fuerte compromiso y participación con el cliente, en cada nuevo desafío buscamos comprender todo el proyecto, para lograr una solución óptima para cada necesidad y detectar oportunidades de mejora.</p>
                        <p>Nuestro modelo de trabajo se basa en 5 etapas que se retroalimentan continuamente:</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                    <div class="content">
                        <img src="{{ site.baseurl }}public/images/how.png"/>
                    </div><!--//content-->
                </div><!--//item-->
            </div>
        </div><!--//container-->
    </section><!--//how-->
