    <!-- ******PROMO****** -->
    <section id="promo" class="fullscreen promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Linc<span class="highlight">Soft</span></h2>
            <p class="intro">Soluciones innovadoras</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="#services">Conocenos</a>
                <a class="btn btn-cta-primary" href="#contact">Contactanos</a>
            </div>
        </div><!--//container-->
    </section><!--//promo-->
